.container {
    background-color: #ebe6e6;
    max-width: 500px;
    padding: 20px 30px;
    border-radius: 8px;
    margin: 40px auto;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.container h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.4rem;

}

.table {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row {
    display: flex;
    flex-direction: row;
}

.cells {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    flex: 0 0 120px;
    font-weight: 500;
}

.formControl {
    flex: 1;
    min-width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.formControl:focus {
  border-color: #0078d7;
  box-shadow: 0 0 5px rgba(0,120,215,0.3);
  outline: none;
}

.cells input[type="radio"] {
    accent-color: #0078d7;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.btngroups {
    display: flex;
    gap: 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: none;
    background-color: #0a01124a;
    border-radius: 4px;
    padding: 10px 15px;
}